<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: title }) %>
<body>
  <% if (user) {  %>
    <%- include('partials/header', { user: user }) %>
  <main class="messages">
    <% if (messages.length > 0) { %>
      <ul class="messages-list">
        <% messages.forEach(message => { %>
          <li class="message">
            <h2><%= message.title %></h2>
            <p><%= message.body %></p>
            <div>
              <p><%= user.is_member ? message.date : 'Date: Hidden' %></p>
              <p>By: <%= user.is_member || user.id === message.author_id ? message.author : 'Hidden' %></p>
            </div>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p class="no-messages">No messages yet. <a href="/new">Write a first message</a>.</p>
    <% } %>
  </main>
  <% } else { %>
    <header>
      <h1>Secret Club 🤫</h1>
    </header>
  <main class="hero-main">
    <div class="hero-content">
      <h2>Welcome to the Secret Club</h2>
      <section class="options">
        <div>
          <p>Join now for more</p>
          <a href="/sign-up" class="option-link">Sign up</a>
        </div>
        <div>
          <p>Already a member?</p>
          <a href="/login" class="option-link">Log in</a>
        </div>
      </section>
    </div>
  </main>
  <% } %>
  <%- include('partials/footer') %>
</body>
</html>